name: Docker Image CI

on: [push]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Build the Docker image
      run: docker build . --file Dockerfile --tag gotodoapi:latest
    - name: Docker login
      run: echo '${{ secrets.DOCKER_TOKEN }}' | docker login --username thomaslacaze --password-stdin
    - name: Publish to Docker hub
      run: docker push thomaslacaze/gotodoapi
